
$icon-facebook: '\e800';  /* '' */
$icon-facebook-official: '\e801';  /* '' */
$icon-flickr: '\e802';  /* '' */
$icon-gplus: '\e803';  /* '' */
$icon-linkedin: '\e804';  /* '' */
$icon-pinterest-circled: '\e805';  /* '' */
$icon-tencent-weibo: '\e806';  /* '' */
$icon-tumblr: '\e807';  /* '' */
$icon-twitter: '\e808';  /* '' */
$icon-vine: '\e809';  /* '' */
$icon-wechat: '\e80a';  /* '' */
$icon-weibo: '\e80b';  /* '' */
$icon-xing: '\e80c';  /* '' */
$icon-youtube-play: '\e80d';  /* '' */
$icon-share: '\e80e';  /* '' */
$icon-pinterest: '\e80f';  /* '' */
$icon-instagram: '\e810';  /* '' */
$icon-vimeo: '\e811';  /* '' */
$icon-tudou: '\e812';  /* '' */
$icon-youku: '\e813';  /* '' */
$icon-rss: '\e814';  /* '' */
$icon-slack: '\e815';  /* '' */
$icon-yahoo: '\e816';  /* '' */
$icon-whatsapp: '\e817';  /* '' */
$icon-skype: '\e818';  /* '' */
$icon-slideshare: '\e819';  /* '' */
$icon-snapchat-fill: '\e81a';  /* '' */
$icon-snapchat: '\e81b';  /* '' */
$icon-google-plus-solid: '\e81c';  /* '' */
